<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @pokemon.desc %>
</p>

<p>
  <strong>Height:</strong>
  <%= @pokemon.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pokemon.weight %>
</p>

<p>
  <strong>Category:</strong>
  <%= @pokemon.category %>
</p>

<p>
  <strong>Ability:</strong>
  <%= @pokemon.ability %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pokemon.type %>
</p>

<p>
  <strong>Weakness:</strong>
  <%= @pokemon.weakness %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @pokemon.hp %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @pokemon.attack %>
</p>

<p>
  <strong>Defence:</strong>
  <%= @pokemon.defence %>
</p>

<p>
  <strong>Special attack:</strong>
  <%= @pokemon.special_attack %>
</p>

<p>
  <strong>Special defence:</strong>
  <%= @pokemon.special_defence %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @pokemon.speed %>
</p>

<p>
  <strong>Image url large:</strong>
  <%= @pokemon.image_url_large %>
</p>

<p>
  <strong>Image url small:</strong>
  <%= @pokemon.image_url_small %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
