<p id="notice"><%= notice %></p>

<script>
         $(document).ready(function() {
    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'bar',
            backgroundColor: '#E0CCD5',
            style: {color: '#ffffff', fontSize: '16px'}
        },
        xAxis: {
            categories: ['Hp', 'Attack', 'Defence', 'Special Attack', 'Special Defence', 'Speed'],
            labels: {
                style: {
                    fontSize:'15px'
                }
            }
        },
        xYxis: {
            labels: {
                style: {
                    fontSize:'15px'
                }
            }
        },
        title: {
            text: 'Pokemon Stats'
        },
        series: [ {name: 'Levels', data: [ <%= @pokemon.hp %> , 
          <%= @pokemon.attack %>,
          <%= @pokemon.defence %>,
          <%= @pokemon.special_attack %>,
          <%= @pokemon.special_defence %>,
          <%= @pokemon.speed %>]
        }],
        legend: {
           enabled: false
        }
    });
});
          
        </script>

<div class='container'>
  <div class="row">
    <div class="col-sm-8">
      <center><h1><%= @pokemon.name %></h1></center>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-5">
      <p>
        <%= image_tag(@pokemon.image_url_large) %>
      </p>
    </div>
    <div class="col-sm-5">
      <p><strong>Name: </strong><%= @pokemon.name %></p>
      <p><strong>Desc: </strong><%= @pokemon.desc %></p>
      <p><strong>Height: </strong><%= @pokemon.height %></p>
      <p><strong>Weight: </strong><%= @pokemon.weight %></p>
      <p><strong>Category: </strong><%= @pokemon.category %></p>
      <p><strong>Ability: </strong><%= @pokemon.ability %></p>
      <p><strong>Variety: </strong><%= @pokemon.variety %></p>
      <p><strong>Weakness: </strong><%= @pokemon.weakness %></p>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="container" style="width:100%; height:400px;"></div>
      </div>
    </div>
  
<br />
<div class="row">
  <div class="col-sm-8">
<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
</div>
</div>
</div>


