<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "highcharts.js", "chartkick" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">  

<% if user_logged_in? %>
<h3>Hello, <%= current_user.name %></h3>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path %> |
  <%= link_to "Sign Up", new_user_path %>
<% end %>

 | <%= link_to "Home", root_path %> |
<%= link_to "Pokemons!!", pokemons_path %> |
<%= link_to "About", static_about_path %> |
<%= link_to "FAQ", static_faq_path %> 

<div class = "row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <% flash.each do |name, message| %>
      <div class ="flash-message flash-message-<%= name %>" >
      <%= message %>
      </div>
      <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>
  


<%= yield %>

</div>
</body>
</html>
